<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>datlt.controllers.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>datlt.controllers.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpController</servlet-name>
        <servlet-class>datlt.controllers.SignUpController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminMainController</servlet-name>
        <servlet-class>datlt.controllers.admin.AdminMainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminSearchAccountController</servlet-name>
        <servlet-class>datlt.controllers.admin.AdminSearchAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDeleteAccountController</servlet-name>
        <servlet-class>datlt.controllers.admin.AdminDeleteAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminEditAccountController</servlet-name>
        <servlet-class>datlt.controllers.admin.AdminEditAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUpdateAccountController</servlet-name>
        <servlet-class>datlt.controllers.admin.AdminUpdateAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminServiceMainController</servlet-name>
        <servlet-class>datlt.controllers.admin.AdminServiceMainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminSearchServiceController</servlet-name>
        <servlet-class>datlt.controllers.admin.AdminSearchServiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDeleteServiceController</servlet-name>
        <servlet-class>datlt.controllers.admin.AdminDeleteServiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAddServiceController</servlet-name>
        <servlet-class>datlt.controllers.admin.AdminAddServiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminEditServiceController</servlet-name>
        <servlet-class>datlt.controllers.admin.AdminEditServiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUpdateServiceController</servlet-name>
        <servlet-class>datlt.controllers.admin.AdminUpdateServiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminRoomMainController</servlet-name>
        <servlet-class>datlt.controllers.admin.AdminRoomMainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminSearchRoomController</servlet-name>
        <servlet-class>datlt.controllers.admin.AdminSearchRoomController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDeleteRoomController</servlet-name>
        <servlet-class>datlt.controllers.admin.AdminDeleteRoomController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminEditRoomController</servlet-name>
        <servlet-class>datlt.controllers.admin.AdminEditRoomController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUpdateRoomController</servlet-name>
        <servlet-class>datlt.controllers.admin.AdminUpdateRoomController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAddRoomController</servlet-name>
        <servlet-class>datlt.controllers.admin.AdminAddRoomController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminGetAllDeleteRoomController</servlet-name>
        <servlet-class>datlt.controllers.admin.AdminGetAllDeleteRoomController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminRecoverRoomController</servlet-name>
        <servlet-class>datlt.controllers.admin.AdminRecoverRoomController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminProductMainController</servlet-name>
        <servlet-class>datlt.controllers.admin.AdminProductMainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminSearchProductController</servlet-name>
        <servlet-class>datlt.controllers.admin.AdminSearchProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDeleteProductController</servlet-name>
        <servlet-class>datlt.controllers.admin.AdminDeleteProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminEditProductController</servlet-name>
        <servlet-class>datlt.controllers.admin.AdminEditProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUpdateProductController</servlet-name>
        <servlet-class>datlt.controllers.admin.AdminUpdateProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAddProductController</servlet-name>
        <servlet-class>datlt.controllers.admin.AdminAddProductController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpController</servlet-name>
        <url-pattern>/SignUpController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminMainController</servlet-name>
        <url-pattern>/AdminMainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminSearchAccountController</servlet-name>
        <url-pattern>/AdminSearchAccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDeleteAccountController</servlet-name>
        <url-pattern>/AdminDeleteAccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminEditAccountController</servlet-name>
        <url-pattern>/AdminEditAccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUpdateAccountController</servlet-name>
        <url-pattern>/AdminUpdateAccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminServiceMainController</servlet-name>
        <url-pattern>/AdminServiceMainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminSearchServiceController</servlet-name>
        <url-pattern>/AdminSearchServiceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDeleteServiceController</servlet-name>
        <url-pattern>/AdminDeleteServiceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAddServiceController</servlet-name>
        <url-pattern>/AdminAddServiceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminEditServiceController</servlet-name>
        <url-pattern>/AdminEditServiceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUpdateServiceController</servlet-name>
        <url-pattern>/AdminUpdateServiceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminRoomMainController</servlet-name>
        <url-pattern>/AdminRoomMainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminSearchRoomController</servlet-name>
        <url-pattern>/AdminSearchRoomController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDeleteRoomController</servlet-name>
        <url-pattern>/AdminDeleteRoomController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminEditRoomController</servlet-name>
        <url-pattern>/AdminEditRoomController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUpdateRoomController</servlet-name>
        <url-pattern>/AdminUpdateRoomController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAddRoomController</servlet-name>
        <url-pattern>/AdminAddRoomController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminGetAllDeleteRoomController</servlet-name>
        <url-pattern>/AdminGetAllDeleteRoomController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminRecoverRoomController</servlet-name>
        <url-pattern>/AdminRecoverRoomController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminProductMainController</servlet-name>
        <url-pattern>/AdminProductMainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminSearchProductController</servlet-name>
        <url-pattern>/AdminSearchProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDeleteProductController</servlet-name>
        <url-pattern>/AdminDeleteProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminEditProductController</servlet-name>
        <url-pattern>/AdminEditProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUpdateProductController</servlet-name>
        <url-pattern>/AdminUpdateProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAddProductController</servlet-name>
        <url-pattern>/AdminAddProductController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
